# InPatient Data

In [1]:
import pandas as pd
import numpy as np

benefit = pd.read_csv("./data/Train_Beneficiarydata-1542865627584.csv")

inpatient = pd.read_csv("./data/Train_Inpatientdata-1542865627584.csv")

result = pd.read_csv("./data/Train-1542865627584.csv")

print(len(benefit))
print(len(inpatient))
print(len(result))

benefit.head()

138556
40474
5410

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

In [342]:
inpatient.head()

In [341]:
result.head()

In [340]:
benefit.dtypes

In [2]:
result_inpatient = pd.merge(inpatient, result, how='inner', on=['Provider'])
result_inpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,PotentialFraud
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
1,BENE17521,CLM34721,2009-01-20,2009-02-01,PRV55912,19000,PHY349293,PHY370861,PHY363291,2009-01-20,...,2753,E9305,NaN,7769.0,5849.0,NaN,NaN,NaN,NaN,Yes
2,BENE21718,CLM72336,2009-10-17,2009-11-04,PRV55912,17000,PHY334706,PHY334706,NaN,2009-10-17,...,43812,4019,NaN,9338.0,NaN,NaN,NaN,NaN,NaN,Yes
3,BENE22934,CLM73394,2009-10-25,2009-10-29,PRV55912,13000,PHY390614,PHY323689,PHY363291,2009-10-25,...,NaN,NaN,NaN,8154.0,NaN,NaN,NaN,NaN,NaN,Yes
4,BENE24402,CLM32911,2009-01-08,2009-01-12,PRV55912,3000,PHY380413,PHY432598,NaN,2009-01-08,...,NaN,NaN,NaN,8543.0,NaN,NaN,NaN,NaN,NaN,Yes

In [3]:
result_inpatient_benefit = pd.merge(result_inpatient,benefit, how='inner', on=['BeneID'])
print(len(result_inpatient_benefit))
print(result_inpatient_benefit.dtypes)
result_inpatient_benefit.head()

40474
BeneID                              object
ClaimID                             object
ClaimStartDt                        object
ClaimEndDt                          object
Provider                            object
InscClaimAmtReimbursed               int64
AttendingPhysician                  object
OperatingPhysician                  object
OtherPhysician                      object
AdmissionDt                         object
ClmAdmitDiagnosisCode               object
DeductibleAmtPaid                  float64
DischargeDt                         object
DiagnosisGroupCode                  object
ClmDiagnosisCode_1                  object
ClmDiagnosisCode_2                  object
ClmDiagnosisCode_3                  object
ClmDiagnosisCode_4                  object
ClmDiagnosisCode_5                  object
ClmDiagnosisCode_6                  object
ClmDiagnosisCode_7                  object
ClmDiagnosisCode_8                  object
ClmDiagnosisCode_9                  object
ClmDiagnosisCode_10                 object
ClmProcedureCode_1                 float64
ClmProcedureCode_2                 float64
ClmProcedureCode_3                 float64
ClmProcedureCode_4                 float64
ClmProcedureCode_5                 float64
ClmProcedureCode_6                 float64
PotentialFraud                      object
DOB                                 object
DOD                                 object
Gender                               int64
Race                                 int64
RenalDiseaseIndicator               object
State                                int64
County                               int64
NoOfMonths_PartACov                  int64
NoOfMonths_PartBCov                  int64
ChronicCond_Alzheimer                int64
ChronicCond_Heartfailure             int64
ChronicCond_KidneyDisease            int64
ChronicCond_Cancer                   int64
ChronicCond_ObstrPulmonary           int64
ChronicCond_Depression               int64
ChronicCond_Diabetes                 int64
ChronicCond_IschemicHeart            int64
ChronicCond_Osteoporasis             int64
ChronicCond_rheumatoidarthritis      int64
ChronicCond_stroke                   int64
IPAnnualReimbursementAmt             int64
IPAnnualDeductibleAmt                int64
OPAnnualReimbursementAmt             int64
OPAnnualDeductibleAmt                int64
dtype: object

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,1,1,1,2,1,1,36000,3204,60,70
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,1,1,1,2,1,1,36000,3204,60,70
3,BENE17521,CLM34721,2009-01-20,2009-02-01,PRV55912,19000,PHY349293,PHY370861,PHY363291,2009-01-20,...,2,2,1,2,2,2,19000,1068,100,20
4,BENE21718,CLM72336,2009-10-17,2009-11-04,PRV55912,17000,PHY334706,PHY334706,NaN,2009-10-17,...,2,2,1,1,2,2,17000,1068,1050,540

In [337]:
result_inpatient_benefit.describe

In [336]:
result_inpatient_benefit.RenalDiseaseIndicator  # There are 0 and Y ) for No and Y for yes

In [4]:
result_inpatient_benefit['ClmProcedureCode_1']
#change 2s to 0s for Nos in all data column
result_inpatient_benefit = result_inpatient_benefit.replace({'ChronicCond_Alzheimer': 2, 'ChronicCond_Heartfailure': 2, 'ChronicCond_KidneyDisease': 2,
                           'ChronicCond_Cancer': 2, 'ChronicCond_ObstrPulmonary': 2, 'ChronicCond_Depression': 2, 
                           'ChronicCond_Diabetes': 2, 'ChronicCond_IschemicHeart': 2, 'ChronicCond_Osteoporasis': 2, 
                           'ChronicCond_rheumatoidarthritis': 2, 'ChronicCond_stroke': 2 }, 0)

result_inpatient_benefit = result_inpatient_benefit.replace({'RenalDiseaseIndicator': 'Y'}, 1)

In [335]:
print(len(benefit))
benefit.isna().sum()  
# There are 137135 out of 138556 beneficiary in general that are still alive.

In [5]:
print(len(result_inpatient_benefit))
result_inpatient_benefit.isna().sum()
# There are 40156 out of 40474 beneficiary that are inpatient that are still alive.

40474

BeneID                                 0
ClaimID                                0
ClaimStartDt                           0
ClaimEndDt                             0
Provider                               0
InscClaimAmtReimbursed                 0
AttendingPhysician                   112
OperatingPhysician                 16644
OtherPhysician                     35784
AdmissionDt                            0
ClmAdmitDiagnosisCode                  0
DeductibleAmtPaid                    899
DischargeDt                            0
DiagnosisGroupCode                     0
ClmDiagnosisCode_1                     0
ClmDiagnosisCode_2                   226
ClmDiagnosisCode_3                   676
ClmDiagnosisCode_4                  1534
ClmDiagnosisCode_5                  2894
ClmDiagnosisCode_6                  4838
ClmDiagnosisCode_7                  7258
ClmDiagnosisCode_8                  9942
ClmDiagnosisCode_9                 13497
ClmDiagnosisCode_10                36547
ClmProcedureCode_1                 17326
ClmProcedureCode_2                 35020
ClmProcedureCode_3                 39509
ClmProcedureCode_4                 40358
ClmProcedureCode_5                 40465
ClmProcedureCode_6                 40474
PotentialFraud                         0
DOB                                    0
DOD                                40156
Gender                                 0
Race                                   0
RenalDiseaseIndicator                  0
State                                  0
County                                 0
NoOfMonths_PartACov                    0
NoOfMonths_PartBCov                    0
ChronicCond_Alzheimer                  0
ChronicCond_Heartfailure               0
ChronicCond_KidneyDisease              0
ChronicCond_Cancer                     0
ChronicCond_ObstrPulmonary             0
ChronicCond_Depression                 0
ChronicCond_Diabetes                   0
ChronicCond_IschemicHeart              0
ChronicCond_Osteoporasis               0
ChronicCond_rheumatoidarthritis        0
ChronicCond_stroke                     0
IPAnnualReimbursementAmt               0
IPAnnualDeductibleAmt                  0
OPAnnualReimbursementAmt               0
OPAnnualDeductibleAmt                  0
dtype: int64

In [6]:
# Create an Age column ------This is could be a featyre engineering
result_inpatient_benefit['DOB'] = pd.to_datetime(result_inpatient_benefit['DOB'] , format = '%Y-%m-%d')
result_inpatient_benefit['DOD'] = pd.to_datetime(result_inpatient_benefit['DOD'],format = '%Y-%m-%d',errors='ignore')
result_inpatient_benefit['Age'] = round(((result_inpatient_benefit['DOD'] - result_inpatient_benefit['DOB']).dt.days)/365)

In [7]:
print(benefit['DOD'].head(20)) 
#This is possibly data set from 2009 and last entry seems to be 2009-12-01 so we would use the 
#end of yeah 2009-12-31 as the last date of this dataset and then substitute that for the end dats of all others 
result_inpatient_benefit.Age.fillna(round(((pd.to_datetime('2009-12-31' , format = '%Y-%m-%d') - result_inpatient_benefit['DOB']).dt.days)/365),inplace=True)
result_inpatient_benefit.head()

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6     2009-12-01
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
Name: DOD, dtype: object

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,1,1,0,1,1,36000,3204,60,70,67.0
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,1,1,0,1,1,36000,3204,60,70,67.0
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,1,1,0,1,1,36000,3204,60,70,67.0
3,BENE17521,CLM34721,2009-01-20,2009-02-01,PRV55912,19000,PHY349293,PHY370861,PHY363291,2009-01-20,...,0,1,0,0,0,19000,1068,100,20,96.0
4,BENE21718,CLM72336,2009-10-17,2009-11-04,PRV55912,17000,PHY334706,PHY334706,NaN,2009-10-17,...,0,1,1,0,0,17000,1068,1050,540,87.0

In [8]:
# Next is to add if beneficiary is dead or alive. Alive column where DOD == NaT then alive for 1 and a 0 for no if there is a DOD present.
result_inpatient_benefit.loc[result_inpatient_benefit['DOD'].isna(),'Alive']=1
result_inpatient_benefit.loc[result_inpatient_benefit['DOD'].notna(),'Alive']=0

In [9]:
# Next we focus on number of physicians an inpatient beneficiary saw on a particular visit
# From the three physicians types we can filter through NAs and assign 0 through 3 to a column NoPhysician
stat = []
for index, row in result_inpatient_benefit.iterrows():
    if (pd.notnull(row['AttendingPhysician']) and pd.isnull(row['OtherPhysician']) and pd.isnull(row['OperatingPhysician'])):
        stat.append(1)
    elif (pd.notnull(row['AttendingPhysician']) and pd.notnull(row['OtherPhysician']) and pd.isnull(row['OperatingPhysician'])):
        stat.append(2)
    elif (pd.notnull(row['AttendingPhysician']) and pd.notnull(row['OtherPhysician']) and pd.notnull(row['OperatingPhysician'])):
        stat.append(3)
    elif (pd.isnull(row['AttendingPhysician']) and pd.notnull(row['OtherPhysician']) and pd.isnull(row['OperatingPhysician'])):
        stat.append(1)
    elif (pd.isnull(row['AttendingPhysician']) and pd.notnull(row['OtherPhysician']) and pd.notnull(row['OperatingPhysician'])):
        stat.append(2)
    elif (pd.isnull(row['AttendingPhysician']) and pd.isnull(row['OtherPhysician']) and pd.notnull(row['OperatingPhysician'])):
        stat.append(1)
    elif (pd.isnull(row['AttendingPhysician']) and pd.isnull(row['OtherPhysician']) and pd.isnull(row['OperatingPhysician'])):
        stat.append(0)
    elif (pd.notnull(row['AttendingPhysician']) and pd.isnull(row['OtherPhysician']) and pd.notnull(row['OperatingPhysician'])):
        stat.append(2)
    #else: stat.append(700)

In [10]:
stat = np.asarray(stat)
result_inpatient_benefit['NoPhysician'] = stat
test = result_inpatient_benefit[['AttendingPhysician','OtherPhysician','OperatingPhysician','NoPhysician']]
test.head()

  AttendingPhysician OtherPhysician OperatingPhysician  NoPhysician
0          PHY390922            NaN                NaN            1
1          PHY318495            NaN          PHY318495            2
2          PHY372395      PHY324689                NaN            2
3          PHY349293      PHY363291          PHY370861            3
4          PHY334706            NaN          PHY334706            2

In [11]:
# Next we focus on having a column with No. of Diagnostics and No. of Proceedures per beneficiary
# column name would be NoOfDiag and NoOfProc respectively.
m = []
for index, row in result_inpatient_benefit.iterrows():
    if (pd.notnull(row['ClmDiagnosisCode_10'])):
        m.append(10)
    elif (pd.notnull(row['ClmDiagnosisCode_9'])):
        m.append(9)
    elif (pd.notnull(row['ClmDiagnosisCode_8'])):
        m.append(8)
    elif (pd.notnull(row['ClmDiagnosisCode_7'])):
        m.append(7)
    elif (pd.notnull(row['ClmDiagnosisCode_6'])):
        m.append(6)
    elif (pd.notnull(row['ClmDiagnosisCode_5'])):
        m.append(5)
    elif (pd.notnull(row['ClmDiagnosisCode_4'])):
        m.append(4)
    elif (pd.notnull(row['ClmDiagnosisCode_3'])):
        m.append(3)
    elif (pd.notnull(row['ClmDiagnosisCode_2'])):
        m.append(2)
    elif (pd.notnull(row['ClmDiagnosisCode_1'])):
        m.append(1)

In [12]:
m = np.asarray(m)
result_inpatient_benefit['NoOfDiag'] = m
test = result_inpatient_benefit[['ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10','NoOfDiag']]
test.head()

,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,NoOfDiag
0,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,9
1,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,6
3,4240,2639,2948,40390,45821,28489,5854,2753,E9305,NaN,9
4,V5789,4168,73313,7812,7993,78830,72273,43812,4019,NaN,9

In [13]:
#result_inpatient_benefit.isna().sum()
result_inpatient_benefit['Race'].describe()
stat = []
for index, row in result_inpatient_benefit.iterrows():
    list = [row['ClmProcedureCode_1'],row['ClmProcedureCode_2'],row['ClmProcedureCode_3'],row['ClmProcedureCode_4'],row['ClmProcedureCode_5'],row['ClmProcedureCode_6']]
    count = []
    for i in list:
        if pd.notnull(i):
            count.append(i)
    stat.append(len(count))

In [14]:
stat = np.asarray(stat)
result_inpatient_benefit['NoOfProc'] = stat
test = result_inpatient_benefit[['ClmProcedureCode_1','ClmProcedureCode_2','ClmProcedureCode_3','ClmProcedureCode_4','ClmProcedureCode_5','ClmProcedureCode_6','NoOfProc']]
test.head()

,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,NoOfProc
0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,7092.0,NaN,NaN,NaN,NaN,NaN,1
2,NaN,NaN,NaN,NaN,NaN,NaN,0
3,7769.0,5849.0,NaN,NaN,NaN,NaN,2
4,9338.0,NaN,NaN,NaN,NaN,NaN,1

In [15]:
# Next we consider adding no of days admitted by subtracting admission date from discharge date.
# if patient were amitted and discharged same day then we have to add 1 because we do not want to have a 0 days.
# Column name ill be DaysAmitted.
result_inpatient_benefit['AdmissionDt'] = pd.to_datetime(result_inpatient_benefit['AdmissionDt'] , format = '%Y-%m-%d')
result_inpatient_benefit['DischargeDt'] = pd.to_datetime(result_inpatient_benefit['DischargeDt'],format = '%Y-%m-%d')
result_inpatient_benefit['DaysAdmitted'] = ((result_inpatient_benefit['DischargeDt'] - result_inpatient_benefit['AdmissionDt']).dt.days) + 1

In [16]:
# See which percentage is null
pd.set_option('display.max_rows', None)
print(result_inpatient_benefit.isnull().sum()*100/len(result_inpatient_benefit))

BeneID                               0.000000
ClaimID                              0.000000
ClaimStartDt                         0.000000
ClaimEndDt                           0.000000
Provider                             0.000000
InscClaimAmtReimbursed               0.000000
AttendingPhysician                   0.276721
OperatingPhysician                  41.122696
OtherPhysician                      88.412314
AdmissionDt                          0.000000
ClmAdmitDiagnosisCode                0.000000
DeductibleAmtPaid                    2.221179
DischargeDt                          0.000000
DiagnosisGroupCode                   0.000000
ClmDiagnosisCode_1                   0.000000
ClmDiagnosisCode_2                   0.558383
ClmDiagnosisCode_3                   1.670208
ClmDiagnosisCode_4                   3.790087
ClmDiagnosisCode_5                   7.150269
ClmDiagnosisCode_6                  11.953353
ClmDiagnosisCode_7                  17.932500
ClmDiagnosisCode_8                  24.563918
ClmDiagnosisCode_9                  33.347334
ClmDiagnosisCode_10                 90.297475
ClmProcedureCode_1                  42.807728
ClmProcedureCode_2                  86.524683
ClmProcedureCode_3                  97.615753
ClmProcedureCode_4                  99.713396
ClmProcedureCode_5                  99.977764
ClmProcedureCode_6                 100.000000
PotentialFraud                       0.000000
DOB                                  0.000000
DOD                                 99.214310
Gender                               0.000000
Race                                 0.000000
RenalDiseaseIndicator                0.000000
State                                0.000000
County                               0.000000
NoOfMonths_PartACov                  0.000000
NoOfMonths_PartBCov                  0.000000
ChronicCond_Alzheimer                0.000000
ChronicCond_Heartfailure             0.000000
ChronicCond_KidneyDisease            0.000000
ChronicCond_Cancer                   0.000000
ChronicCond_ObstrPulmonary           0.000000
ChronicCond_Depression               0.000000
ChronicCond_Diabetes                 0.000000
ChronicCond_IschemicHeart            0.000000
ChronicCond_Osteoporasis             0.000000
ChronicCond_rheumatoidarthritis      0.000000
ChronicCond_stroke                   0.000000
IPAnnualReimbursementAmt             0.000000
IPAnnualDeductibleAmt                0.000000
OPAnnualReimbursementAmt             0.000000
OPAnnualDeductibleAmt                0.000000
Age                                  0.000000
Alive                                0.000000
NoPhysician                          0.000000
NoOfDiag                             0.000000
NoOfProc                             0.000000
DaysAdmitted                         0.000000
dtype: float64

In [17]:
pd.set_option('display.max_rows', None)
result_inpatient_benefit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40474 entries, 0 to 40473
Data columns (total 61 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   BeneID                           40474 non-null  object
 1   ClaimID                          40474 non-null  object
 2   ClaimStartDt                     40474 non-null  object
 3   ClaimEndDt                       40474 non-null  object
 4   Provider                         40474 non-null  object
 5   InscClaimAmtReimbursed           40474 non-null  int64
 6   AttendingPhysician               40362 non-null  object
 7   OperatingPhysician               23830 non-null  object
 8   OtherPhysician                   4690 non-null   object
 9   AdmissionDt                      40474 non-null  datetime64[ns]
 10  ClmAdmitDiagnosisCode            40474 non-null  object
 11  DeductibleAmtPaid                39575 non-null  float64
 12  DischargeDt                      40474 non-null  datetime64[ns]
 13  DiagnosisGroupCode               40474 non-null  object
 14  ClmDiagnosisCode_1               40474 non-null  object
 15  ClmDiagnosisCode_2               40248 non-null  object
 16  ClmDiagnosisCode_3               39798 non-null  object
 17  ClmDiagnosisCode_4               38940 non-null  object
 18  ClmDiagnosisCode_5               37580 non-null  object
 19  ClmDiagnosisCode_6               35636 non-null  object
 20  ClmDiagnosisCode_7               33216 non-null  object
 21  ClmDiagnosisCode_8               30532 non-null  object
 22  ClmDiagnosisCode_9               26977 non-null  object
 23  ClmDiagnosisCode_10              3927 non-null   object
 24  ClmProcedureCode_1               23148 non-null  float64
 25  ClmProcedureCode_2               5454 non-null   float64
 26  ClmProcedureCode_3               965 non-null    float64
 27  ClmProcedureCode_4               116 non-null    float64
 28  ClmProcedureCode_5               9 non-null      float64
 29  ClmProcedureCode_6               0 non-null      float64
 30  PotentialFraud                   40474 non-null  object
 31  DOB                              40474 non-null  datetime64[ns]
 32  DOD                              318 non-null    datetime64[ns]
 33  Gender                           40474 non-null  int64
 34  Race                             40474 non-null  int64
 35  RenalDiseaseIndicator            40474 non-null  object
 36  State                            40474 non-null  int64
 37  County                           40474 non-null  int64
 38  NoOfMonths_PartACov              40474 non-null  int64
 39  NoOfMonths_PartBCov              40474 non-null  int64
 40  ChronicCond_Alzheimer            40474 non-null  int64
 41  ChronicCond_Heartfailure         40474 non-null  int64
 42  ChronicCond_KidneyDisease        40474 non-null  int64
 43  ChronicCond_Cancer               40474 non-null  int64
 44  ChronicCond_ObstrPulmonary       40474 non-null  int64
 45  ChronicCond_Depression           40474 non-null  int64
 46  ChronicCond_Diabetes             40474 non-null  int64
 47  ChronicCond_IschemicHeart        40474 non-null  int64
 48  ChronicCond_Osteoporasis         40474 non-null  int64
 49  ChronicCond_rheumatoidarthritis  40474 non-null  int64
 50  ChronicCond_stroke               40474 non-null  int64
 51  IPAnnualReimbursementAmt         40474 non-null  int64
 52  IPAnnualDeductibleAmt            40474 non-null  int64
 53  OPAnnualReimbursementAmt         40474 non-null  int64
 54  OPAnnualDeductibleAmt            40474 non-null  int64
 55  Age                              40474 non-null  float64
 56  Alive                            40474 non-null  float64
 57  NoPhysician                      40474 non-null  int64
 58  NoOfDiag                         40474 non-null  int64
 59  NoOfProc                         40474 non-null  int64
 60  DaysAdmitted                     40474 non-null  int64
dtypes: datetime64[ns](4), float64(9), int64(26), object(22)
memory usage: 19.1+ MB

In [18]:
plot = result_inpatient_benefit[['ClmProcedureCode_1','ClmProcedureCode_2','ClmProcedureCode_3','ClmProcedureCode_4','ClmProcedureCode_5','ClmProcedureCode_6','NoOfProc','ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10','NoOfDiag','DaysAdmitted','Alive','Age','Gender','Race','PotentialFraud']]

In [ ]:
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

sns.set
sns.pairplot(plot, hue='PotentialFraud', height=2)
ax= sns.countplot(x='Alive',hue='PotentialFraud',data=plot
              ,order=plot.Alive.value_counts().iloc[:20].index)

    
plt.title('Claims involving Alive Patients based on potential fraud')
plt.xticks(rotation=90)
plt.show()

plt.savefig('TopAttendingphysiciansinvlovedinHealthcareFraud')

In [324]:
ax= sns.countplot(x='PotentialFraud', data = plot)

In [323]:
ax= sns.countplot(x='NoPhysician',hue='PotentialFraud', data = result_inpatient_benefit)